* {
    margin: 0;
    padding: 0;
}

body {
    cursor: none;
    overflow: hidden;
    
}
.effect {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(-50%, -50%);  
}

.screen-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(27, 14, 14), rgb(102, 35, 35));
}

.word {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    color: rgb(102, 132, 167);
    font-family: 'VT323', monospace;
    font-weight: 900;
    font-size: 10vw;
}

